@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
	/*background-image: url(../images/baseline_21px.gif);*/
	background-image: url(../images/problem2.PNG);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
	margin-left: 300px;

	margin: 0;
	font-family: "Nanum Gothic" , "돋움" , "Dotum" , Sans-Serief;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: -0.015em;
	line-height: 1.5;
	color: #313335;
	
}

h1 {
	color: #ff9090;
	font-size: 41px;
}

h2 {
	color: #ff8080;
	background-color: #fafafa;
	font-size: 30px;
}

h3 {
	color: #313335;
	font-size: 24px;

}

p.center {
	text-align: center;
	width: 700px;
	background-color: #ccc;
	
}


#para1 {
	color: rgb(49,51,53);
	text-align: right;
	margin-top: 10px;
	width: 300px;
	height: 500px;
	background-color: #fafafa;
	/*padding: 15px;*/
}

p {
	margin-left: 100px;
	width: 100px;
}

a {
	text-decoration: none;
}

a.solo:link, a.solo:visited {
	display: block;
	font-weight: 700;
	color: #ffffff;
	background-color: #ff671b;
	width: 200px;
	height: 43px;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	box-shadow: 2px;
}

a.solo:hover, a.sole:active {
	background-color: ##00655b;
}

.button {
	/*step 1: Insert HTML code*/

	/*step 2: Basic button style*/
	display: block;
    height: 60px;
    width: 240px;
    background: #ff671b;
    border: 2px solid rgba(255, 73, 27, 0.59);
    margin-left: 600px;
     
    /*step 3: Text Styles*/
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font: bold 2.2em/60px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	/*"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; 있고 없고 무슨 차이? 왜 정렬이 바뀌나*/
	background: -webkit-linear-gradient(top, #ff671b, #ff491b);
	background: -moz-linear-gradient(top, #ff671b, #ff491b);
	background: -o-linear-gradient(top, #ff671b, #ff491b);
	background: -ms-linear-gradient(top, #ff671b, #ff491b);
	background: linear-gradient(top, #ff671b, #ff491b);

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 6px 0px #af5214;
	-moz-box-shadow: 0 6px 0 #af5214;
	box-shadow: 0 6px 0 #af5214;

	text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

a.button {
	text-decoration: none;
}


